

.tag{
    background-color: $redColor;
    font-weight: bold;
    color: $whiteColor;
    padding: .3rem .5rem;
    border-radius:2px ;
}


.title{
    text-align: center;
    @include centerAll();
    position: relative;
    top: 2rem;
    .shadow{
        font-size: 8rem;
        font-weight: bolder;
        color: $colorShadow;
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            background-color: $redColor;
            width: 5rem;
            height: 2px;
            top: 10rem;
            left: 12rem;
            right: 0;
            bottom: 0;
        
        }

    }

    
    .top{
        font-size: 2.5rem;
        letter-spacing: .1rem;
        color: $whiteColor;
        position: relative;
        top: -6.2rem;
    }
}