$whiteColor:#fff;
$blackColor:#000000;
$redColor:#e63a2e;
$textColor:#e6e6e6;
$textPostColor:#d9d9d9;
$gradiant:#212121;
$cardColor:#262626;
$colorShadow:#292929;
$twitter:#00a2f9;
$facebook:#33589c;
$icongrey:#4d4d4d;
$greyColor:#808080;