*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    a{
        color:$whiteColor;
        text-decoration: none;
        cursor: pointer;
    
        &:active,&:hover{
            color: $redColor;
        }
    }
}

html{
    font-size: 10px;
}
body{
    background-color: $gradiant;
}